
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento de tablas</h2>

<div class="panel panel-default">
    <div class="panel-heading">Categoria</div>
    <div class="panel-body">
        <div class="row">
            @*Campos de textos y registros*@
            <div class="col-lg-1">
                <label>Descripcion</label>

            </div>
            <div class="col-lg-4">
                <input name="category_txt" id="category_txt" class="form-control" type="text" />

            </div>


        </div>

    </div>
</div>


