@model capaModelo.V_Model.VM_Operaciones



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento de tablas</h2>




<div class="row">
    @foreach(var items in Model._tblOperaciones)
    {


    <div class="card" style="width: 20rem; height: 12rem; margin-right> 2%;">
        <div class="card-header">@items.DescripcionOperacion</div>
        <a href="@items.enlace_OperacionSistema">

        <div class="card-body">
            <h5 class="card-title">@items.comentarios</h5>
        </div>
    </div>

    }

</div>





<div class="col-lg-8">
     </div>

<div class="panel panel-default" id="panelCategory">
    <div class="panel-heading">Categoria</div>
    <div class="panel-body">
        <div class="row">
            @*Campos de textos y registros*@
            <div class="col-lg-2">
                <label>Descripcion</label>

            </div>
            <div class="col-lg-4">
                <input name="category_txt" id="category_txt" class="form-control" type="text" />

            </div>
            <div class="col-lg-4">
                <a id="btnAgregar"class="btn btn-success glyphicon glyphicon-plus" style="background: green"> Agregar</a>
            </div>

            <div class="col-lg-4">
                <a id="btnCancel" class="btn btn-danger" style="display:none"> Cancelar</a>
            </div>

        </div>

        <br />

        <table id="tblCategory" class="table">
            <thead>

                <tr>
                    <td>Codigo</td>
                    <td>Description</td>
                </tr>
            </thead>
        </table>

      

    </div>
</div>


---