<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaDATOS.Properties.Settings.UDIEConnectionString"
            connectionString="Data Source=J-LY\SQLEXPRESS;Initial Catalog=UDIE;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="capaDATOS.Properties.Settings.UDIEConnectionString1"
            connectionString="Data Source=LEONAL;Initial Catalog=UDIE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="capaDATOS.Properties.Settings.UDIEConnectionString2"
            connectionString="Data Source=DESKTOP-O28FT1A\SQLEXPRESS02;Initial Catalog=UDIE;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>