<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaDATOS.Properties.Settings.UDIEConnectionString"
            connectionString="Data Source=J-LY\SQLEXPRESS;Initial Catalog=UDIE;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>